/* Write your CSS here */
.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
.title {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
}
.button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #ff0b37;
  color: #ff0b37;
  margin-left: 15px;
  font-size: 17px;
  cursor: pointer;
}
